.select-and-input {
    position: relative;
    width: 100%;
}
.select-and-input > div {
    display: flex;
    border: 1px black solid;
    border-radius: 5px;
    /* padding: 6px 0px; */
}
.select-and-input > div > input {
    width: 90%;
    font-size: 1rem;
}

.select-and-input > select {
    position: absolute;
    background-color: rgb(245, 245, 245);
    max-height: 200px;
    width: 100%;
    margin-top: 5px;
    font-size: 1rem;
    z-index: 2;
}