# עבור IDEs כמו PyCharm
.idea/

# תיקיות שמכילות קבצים שהמפרק מייצר בזמן הריצה
__pycache__/
*.pyc
*.pyo

# תיקיות וקבצים המיוצרים ע"י virtualenv
venv/
.env

# נתונים זמניים
data/

# קבצים נוספים שיכולים להיות גנריים לכל פרויקט
*.log
*.sqlite3
*.db
*.bak
*.tmp

data.json